<div class="fh5co-parallax" style="background-image: url(images/about2.jpg);" data-stellar-background-ratio="0.5" id="about">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
        <div class="fh5co-intro fh5co-table-cell">
          <h1 class="text-center">เกี่ยวกับเรา</h1>
          <p>เรื่องทุกอย่างเกี่ยวกับ Noob Dev ที่คุณอยากรู้ และไม่อยากรู้</p>
        </div>
      </div>
    </div>
  </div>
</div><!-- end: fh5co-parallax -->
<div id="fh5co-common-section">
  <div class="container">
    <div class="row about">
      <div class="col-md-10 col-md-offset-1">
        <p>สวัสดีครับผมชื่อปฐมพร เมืองคำอายุ 22 ปีจบมาจากมหาวิทยาลัยชื่อดังย่านบางแสน คณะวิทยาการสารสนเทศ สาขาวิศวกรรมซอฟแวร์ มีความชื่นชอบในการเขียนโปรแกรมและหลงรัก Open Source ถึงขนาดใช้ Linux เป็น OS หลักจนแทบเรียนไม่จบ (มีปัญหากับการทำรายงาน = =" ) งานอดิเรกในเวลาว่างนอกจากเล่นเกมก็ขียนโปรแกรมต่างๆเล่นมีประสบการณ์เป็น Freelance มา 2 ปีแล้ว สามารถเขียนโปรแกรมภาษาต่างๆที่สามารถเขียนได้ฟรีเช่น ภาษาพื้นฐานอย่าง PHP และ Framework ของ PHP อย่าง Codeigniter (โดนบังคับให้เขียนตั้งแต่ปี 2) JAVA (สำหรับพัฒนาแอปพลิเคชันบน Android) แต่สำหรับภาษาที่ผมหลงรักที่สุดคือ Javascript ครับเรียกว่าหลงรักอย่างสุดหัวใจไม่ว่าจะเป็น jQuery, AngularJS, Node.js, MongoDB, Ionic Framework และเทรนที่กำลังมาแรงในขณะนี้อย่าง MEAN Stack สุดท้ายนี้ต้องให้เครดิตแก่อาจารย์ของผมที่สาขาวิศวกรรมซอฟแวร์ที่ช่วยสอนพื้นฐานต่างๆ และอาจารย์ที่เป็น Idol ของผมแต่เค้าไม่รู้อิอิ <a href="http://devahoy.com" target="_blank">Devahoy</a> หวังว่าจะได้รับใช้ทุกท่านนะครับขอบคุณครับ</p>
      </div>
    </div>
  </div>
</div><!-- end fh5co-common-section -->
<footer>
  <div id="footer" class="fh5co-border-line">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <p>Copyright 2016 Noob Dev. All Rights Reserved. <br>Original Template by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> / Images: <a href="https://www.pexels.com/" target="_blank">Pexels</a> &amp; <a href="https://www.flickr.com/photos/nasacommons/" target="_blank">NASA on The Commons</a> </p>
          <!--p class="fh5co-social-icons">
            <a href="#"><i class="icon-twitter-with-circle"></i></a>
            <a href="#"><i class="icon-facebook-with-circle"></i></a>
            <a href="#"><i class="icon-instagram-with-circle"></i></a>
          </p-->
        </div>
      </div>
    </div>
  </div>
</footer>
