<div class="fh5co-parallax" style="background-image: url(images/contact.jpg);" data-stellar-background-ratio="0.5" id="contact">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
        <div class="fh5co-intro fh5co-table-cell">
          <h1 class="text-center">ติดต่อ</h1>
          <p>ต้องการความช่วยเหลือ สนใจจ้างงาน ต้องการรายละเอียดเพิ่มเติม หรืออยากคุยด้วยเฉยๆก็ติดต่อมาได้นะครับ!</p>
        </div>
      </div>
    </div>
  </div>
</div><!-- end: fh5co-parallax -->
<div id="fh5co-contact-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>การติดต่อ</h3>
        <ul class="contact-info">
          <li><i class="fa fa-map-marker"></i>25/2 หมู่ 1 ซ.บางหวาน ต.กมลา อ.กะทู้ จ.ภูเก็ต 83150</li>
          <li><i class="fa fa-phone"></i>082-414-6627</li>
          <li><i class="fa fa-envelope"></i><a href="#">freeweed.m@gmail.com</a></li>
        </ul>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Name" ng-model="customer.name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email" ng-model="customer.email">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message" ng-model="customer.detail"></textarea>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="submit" value="Send Message" class="btn btn-primary" ng-click="submit();">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div id="footer" class="fh5co-border-line">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <p>Copyright 2016 Noob Dev. All Rights Reserved. <br>Original Template by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> / Images: <a href="https://www.pexels.com/" target="_blank">Pexels</a> &amp; <a href="https://www.flickr.com/photos/nasacommons/" target="_blank">NASA on The Commons</a> </p>
          <!--p class="fh5co-social-icons">
            <a href="#"><i class="icon-twitter-with-circle"></i></a>
            <a href="#"><i class="icon-facebook-with-circle"></i></a>
            <a href="#"><i class="icon-instagram-with-circle"></i></a>
          </p-->
        </div>
      </div>
    </div>
  </div>
</footer>
