<div class="fh5co-parallax" style="background-image: url(images/service.jpg);" data-stellar-background-ratio="0.5" id="service">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
        <div class="fh5co-intro fh5co-table-cell">
          <h1 class="text-center">บริการ</h1>
          <p>สิ่งที่ Noob Dev สามารถทำให้คุณได้</p>
        </div>
      </div>
    </div>
  </div>
</div><!-- end: fh5co-parallax -->
<div id="fh5co-services-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="services-grid">
          <i class="fa fa-desktop"></i>
          <h3>Website</h3>
          <p>พัฒนาเว็ปไซด์ในรูปแบบต่างๆ เช่น เว็บไซต์บริษัท เว็บแอปพลิเคชัน เว็บเซอร์วิซ หรือ เว็บ e-commerce เพื่อช่วยโปรโมท บริหารจัดการ ขายสินค้า ตลอดจนการบ้าน หรือโปรเจคของคุณ เพื่อให้ชีวิตของคุณง่ายขึ้นโดยสามารถใช้ทั้ง PHP Codeigniter หรือ MEAN Stack ในการพัฒนา</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="services-grid">
          <i class="fa fa-mobile fa-3x"></i>
          <h3>Application</h3>
          <p>พัฒนาแอปพลิเคชันตามความต้องการของคุณทั้งในรูปแบบ Native แอปพลิเคชันบน Android หรือ Hybrid Application ที่ Cross-Platform สามารถใช้ได้ทั้งในระบบปฏบัติการ iOS และ Android โดยใช้ Ionic Framework ในการพัฒนา</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="services-grid">
          <i class="fa fa-pencil"></i>
          <h3>Course</h3>
          <p>รับสอนเขียนโปรแกรมภาษาต่างๆ เช่น Javascript, jQuery, AngularJS, Node.js, Ionice Framework, MongoDB, PHP, Codeigniter, Mysql, Bootstrap, C และ C++ โดยชั่วโมงแรกฟรี! หากคุณพึงพอใจค่อยจ่ายเพื่อเรียนชั่วโมงถัดไป </p>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div id="footer" class="fh5co-border-line">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <p>Copyright 2016 Noob Dev. All Rights Reserved. <br>Original Template by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> / Images: <a href="https://www.pexels.com/" target="_blank">Pexels</a> &amp; <a href="https://www.flickr.com/photos/nasacommons/" target="_blank">NASA on The Commons</a> </p>
          <!--p class="fh5co-social-icons">
            <a href="#"><i class="icon-twitter-with-circle"></i></a>
            <a href="#"><i class="icon-facebook-with-circle"></i></a>
            <a href="#"><i class="icon-instagram-with-circle"></i></a>
          </p-->
        </div>
      </div>
    </div>
  </div>
</footer>
