<div class="fh5co-parallax" style="background-image: url(images/work.jpeg);" data-stellar-background-ratio="0.5" id="work">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
        <div class="fh5co-intro fh5co-table-cell">
          <h1 class="text-center">ตัวอย่างผลงาน</h1>
          <p>ตัวอย่างผลงานที่ผ่านของ Noob Dev</p>
        </div>
      </div>
    </div>
  </div>
</div><!-- end: fh5co-parallax -->
<div id="fh5co-services-section">
  <div class="container">
    <div class="heading-section text-center">
      <h2>Culture Assistant Thailand</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 text-center">
        <div class="fhco-hero2">
          <center>
            <img class="img-responsive" src="images/CAT1.png" alt="cat" style="height:600px;">
          </center>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="fh5co-services">
          <div class="fh5co-table2 text-center">
            <div class="fh5co-table-cell2">
              <i class="fa fa-lightbulb-o"></i>
            </div>
          </div>
          <div class="holder-section">
            <h3>แนวคิด</h3>
            <p>พัฒนาเพื่อเป็นตัวช่วยสำหรับนักท่องเที่ยวที่ต้องการท่องเที่ยวเชิงวัฒนธรรมเวอร์ชันนี้มีขอบเขตในจังหวัดเชียงใหม่</p>
          </div>
        </div>
        <div class="fh5co-services">
          <div class="fh5co-table2 fh5co-table2-color-2 text-center">
            <div class="fh5co-table-cell2">
              <i class="fa fa-eye"></i>
            </div>
          </div>
          <div class="holder-section">
            <h3>จุดเด่น</h3>
            <p>แอปพลิเคชันนี้ีจุดเด่นอยู่ที่ต้องใช้ <a href="https://www.google.co.th/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=information+retrieval+%E0%B8%84%E0%B8%B7%E0%B8%AD" target="_blank">Information Retrieval</a> วิเคราะห์ข้อมูลก่อนจึงจะสามารถนำมาใช้ได้</p>
          </div>
        </div>
        <div class="fh5co-services">
          <div class="fh5co-table2 fh5co-table2-color-4 text-center">
            <div class="fh5co-table-cell2">
              <i class="fa fa-code"></i>
            </div>
          </div>
          <div class="holder-section">
            <h3>เทคโนโลยีที่ใช้</h3>
            <p>แอปพลิเคชันนี้พัฒนาโดยใช้ Ionic Framework และเว็บเซอร์วิซใช้ Codeigniter ในการพัฒนา</p>
          </div>
        </div>
        <div class="fh5co-services">
          <div class="fh5co-table2 fh5co-table2-color-5 text-center">
            <div class="fh5co-table-cell2">
              <i class="fa fa-clock-o"></i>
            </div>
          </div>
          <div class="holder-section">
            <h3>เวลาที่ใช้พัฒนา</h3>
            <p>แอปพลิเคชันนี้ใช้ระยะเวลา 3 เดือนในการพัฒนาโดยมีความยากอยู่ที่การพัฒนาในส่วนของเว็บเซอร์วิซ</p>
          </div>
        </div>
        <!--div class="fh5co-services-right">
          <a href="#" class="fh5co-table2 fh5co-table2-color-3 text-center">
            <div class="fh5co-table-cell2">
              <i class="fa fa-angle-double-left"></i>
            </div>
          </a>
          <div class="holder-section">
            <h3>กดเพื่อแสดงหน้าก่อนหน้า</h3>
            <p></p>
          </div>
        </div-->
      </div>
    </div>
  </div>
  <div class="fh5co-parallax" style="background-image: url(images/work2.jpeg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
          <div class="fh5co-intro fh5co-table-cell">
            <h1 class="text-center">ยังมีอีกนะครับ</h1>
            <p>ส่วนต่อไปจะเป็นเว็บไซด์ e-commerce</p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end: fh5co-parallax -->
  <div class="container">
    <div class="heading-section text-center">
      <h2>E-commerce</h2>
    </div>
    <div class="row">

      <div class="col-md-7 col-sm-12 text-center website">
        <div class="fhco-hero2">
          <img class="img-responsive" src="images/mac.png" alt="cat">
        </div>
        <p class="hidden-mobile">หากคุณสนใจสามารถดูตัวอย่างเต็มๆได้ <a href="http://securitynew-noobdev.rhcloud.com" target="_blank">ทีนี่</a></p>
      </div>

      <div class="col-md-5 col-sm-12">
        <div class="fh5co-services">
          <div class="fh5co-table2 text-center" >
            <div class="fh5co-table-cell2">
              <i class="fa fa-lightbulb-o"></i>
            </div>
          </div>
          <div class="holder-section">
            <h3>แนวคิด</h3>
            <p>เป็นเว็บไซด์ e-commerce พร้อมระบบจัดการเว็บไซด์โดยพัฒนาขึ้นตามความความต้องการลักษณะธุรกิจของผู้ว่าจ้าง</p>
          </div>
        </div>
        <div class="fh5co-services">
          <div class="fh5co-table2 fh5co-table2-color-2 text-center">
            <div class="fh5co-table-cell2">
              <i class="fa fa-eye"></i>
            </div>
          </div>
          <div class="holder-section">
            <h3>จุดเด่น</h3>
            <p>พัฒนาขึ้นตามรูปแบบที่ผู้ใช้ต้องการทำให้เว็บไซด์มีเอกลักษณ์เฉพาะตัวตามรูปแบบธุรกิจของผู้ใช้รวมถึงมีการจัดการภายในทำให้เว็บไซด์สามารถดูแลรักษาได้ง่าย</p>
          </div>
        </div>
        <div class="fh5co-services">
          <div class="fh5co-table2 fh5co-table2-color-4 text-center">
            <div class="fh5co-table-cell2">
              <i class="fa fa-code"></i>
            </div>
          </div>
          <div class="holder-section">
            <h3>เทคโนโลยีที่ใช้</h3>
            <p>เว็บไซด์นี้ใช้ PHP ในการพัฒนาและมี MySQL เป็นฐานข้อมูลนอกจากยังนี้ใช้ Bootstrap และ jQeury ร่วมในการพัฒนาด้วย</p>
          </div>
        </div>
        <div class="fh5co-services">
          <div class="fh5co-table2 fh5co-table2-color-5 text-center">
            <div class="fh5co-table-cell2">
              <i class="fa fa-clock-o"></i>
            </div>
          </div>
          <div class="holder-section">
            <h3>เวลาที่ใช้พัฒนา</h3>
            <p>เว็บไซด์นี้ใช้เวลาในการพัฒนาประมาณ 1 เดือนโดยส่วนที่ยากในการพัฒนาคือการวิเคราะห์ความต้องการของผู้ใช้เพื่อพัฒนาเว็บไซด์ให้ถูกต้องตามความต้องการ</p>
          </div>
        </div>
        <!--div class="fh5co-services">
          <a href="#" class="fh5co-table2 fh5co-table2-color-6 text-center">
            <div class="fh5co-table-cell2">
              <i class="fa fa-angle-double-right"></i>
            </div>
          </a>
          <div class="holder-section">
            <h3>กดเพื่อแสดงหน้าถัดไป</h3>
            <p></p>
          </div>
        </div-->
      </div>
    </div>
  </div>
</div><!-- end: fh5co-services-section -->
<footer>
  <div id="footer" class="fh5co-border-line">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <p>Copyright 2016 Noob Dev. All Rights Reserved. <br>Original Template by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> / Images: <a href="https://www.pexels.com/" target="_blank">Pexels</a> &amp; <a href="https://www.flickr.com/photos/nasacommons/" target="_blank">NASA on The Commons</a> </p>
          <!--p class="fh5co-social-icons">
            <a href="#"><i class="icon-twitter-with-circle"></i></a>
            <a href="#"><i class="icon-facebook-with-circle"></i></a>
            <a href="#"><i class="icon-instagram-with-circle"></i></a>
          </p-->
        </div>
      </div>
    </div>
  </div>
</footer>
